{"openapi":"3.0.0","info":{"title":"Ethereum Beacon Headers API","version":"1.0.0"},"servers":[{"url":"https://beacon-nd-422-757-666.p2pify.com/0a9d79d93fb2f4a4b1e04695da2b77a7/eth/v1"}],"paths":{"/beacon/headers/{block_id}":{"get":{"summary":"Get beacon headers by block_id","operationId":"getBeaconHeadersByBlockId","parameters":[{"name":"block_id","in":"path","description":"Block identifier, e.g., 'head', 'genesis', 'finalized', or a specific block root.","required":true,"schema":{"type":"string","default":"head"}}],"responses":{"200":{"description":"Beacon header successfully retrieved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BeaconHeaderItem"}}}},"404":{"description":"Beacon header not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}}},"components":{"schemas":{"BeaconHeaderItem":{"type":"object","properties":{"root":{"type":"string"},"canonical":{"type":"boolean"},"header":{"$ref":"#/components/schemas/Header"}},"required":["root","canonical","header"]},"Header":{"type":"object","properties":{"slot":{"type":"integer","format":"int64"},"parent_root":{"type":"string"},"state_root":{"type":"string"},"body_root":{"type":"string"}},"required":["slot","parent_root","state_root","body_root"]},"Error":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"}},"required":["code","message"]}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}