{"openapi":"3.0.0","info":{"title":"Ethereum Beacon Blocks API","version":"1.0.0"},"servers":[{"url":"https://beacon-nd-422-757-666.p2pify.com/0a9d79d93fb2f4a4b1e04695da2b77a7/eth/v2"}],"paths":{"/beacon/blocks/{block_id}":{"get":{"summary":"Get beacon blocks by block_id","operationId":"getBeaconBlocksByBlockId","parameters":[{"name":"block_id","in":"path","description":"Block identifier, e.g., 'head', 'genesis', 'finalized', or a specific block root.","required":true,"schema":{"type":"string","default":"head"}}],"responses":{"200":{"description":"Beacon block successfully retrieved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BeaconBlockItem"}}}},"404":{"description":"Beacon block not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}}},"components":{"schemas":{"BeaconBlockItem":{"type":"object","properties":{"root":{"type":"string"},"block":{"$ref":"#/components/schemas/Block"}},"required":["root","block"]},"Block":{"type":"object","properties":{"slot":{"type":"integer","format":"int64"},"parent_root":{"type":"string"},"state_root":{"type":"string"},"body":{"type":"object"}},"required":["slot","parent_root","state_root","body"]},"Error":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"}},"required":["code","message"]}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}