{
  "openapi": "3.0.0",
  "info": {
    "title": "Cronos Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with a Cronos node."
  },
  "servers": [
    {
      "url": "https://nd-907-114-772.p2pify.com"
    }
  ],
  "paths": {
    "/b9b0fb92029d58b396139a9e89cf479b/": {
      "post": {
        "tags": [
          "logs"
        ],
        "summary": "eth_newFilter",
        "operationId": "newFilter",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "method": {
                    "type": "string",
                    "default": "eth_newFilter"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "fromBlock": {
                          "type": "string",
                          "title": "from block",
                          "description": "The block number or tag to start searching for logs from.",
                          "default": "latest"
                        },
                        "address": {
                          "type": "string",
                          "title": "smart contract address",
                          "description": "The contract address to retrieve the logs for."
                        },
                        "topics": {
                          "type": "array",
                          "title": "topics",
                          "items": {
                            "type": "string"
                          },
                          "description": "An array of 32-byte topics to filter for. Each topic is treated as an OR condition."
                        }
                      }
                    },
                    "default": [
                      {
                        "fromBlock": "latest",
                        "address": "0x5C7F8A570d578ED84E63fdFA7b1eE72dEae1AE23",
                        "topics": [
                          "0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3ef"
                        ]
                      }
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The filter ID.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}