{"openapi":"3.0.0","info":{"title":"Chainstack Node API","version":"1.0.1","description":"This is an API for interacting with a Chainstack node using the arbtrace_call method."},"servers":[{"url":"https://nd-954-882-037.p2pify.com/66f812de2a6724a75a51f60dd6f2a154"}],"paths":{"/":{"post":{"tags":["upload"],"summary":"arbtrace_call","operationId":"arbtraceCall","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","default":1},"jsonrpc":{"type":"string","default":"2.0"},"method":{"type":"string","default":"arbtrace_call"},"params":{"type":"array","items":{"anyOf":[{"type":"object","title":"Transaction call Object"},{"type":"array","items":{"type":"string"},"title":"Options Array"},{"type":"string","title":"Block Identifier"}]},"default":[{"from":"0xeff678bf68ca0da9dfdac0c88f431e8d0e2f7116","to":"0x1b02da8cb0d097eb8d57a175b88c7d8b47997506","gas":"0xfa4d9","gasPrice":"0x9c1e25d","data":"0x18cbafe5000000000000000000000000000000000000000000000000000000003038624200000000000000000000000000000000000000000000000006ff882fdeb13bd100000000000000000000000000000000000000000000000000000000000000a0000000000000000000000000eff678bf68ca0da9dfdac0c88f431e8d0e2f711600000000000000000000000000000000000000000000000000000000630f76620000000000000000000000000000000000000000000000000000000000000002000000000000000000000000ff970a61a04b1ca14834a43f5de4533ebddb5cc800000000000000000000000082af49447d8a07e3bd95bd0d56f35241523fbab1"},["trace"],"0x152dd44"]}}}}}},"responses":{"200":{"description":"The call's trace.","content":{"application/json":{"schema":{"type":"object","properties":{"jsonrpc":{"type":"string"},"id":{"type":"integer"},"result":{"type":"object"}}}}}}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}