{"openapi":"3.0.0","info":{"title":"TON API","version":"3.0.0","description":"API for interacting with The Open Network (TON) blockchain"},"servers":[{"url":"https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v3"}],"paths":{"/jetton/masters":{"get":{"summary":"Get Jetton Masters","description":"Retrieves a list of Jetton master contracts from the TON blockchain","operationId":"getJettonMasters","tags":["Jetton"],"parameters":[{"name":"limit","in":"query","description":"The maximum number of Jetton masters to return","required":false,"schema":{"type":"integer","default":128}},{"name":"offset","in":"query","description":"The number of Jetton masters to skip before starting to return results","required":false,"schema":{"type":"integer","default":0}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"masters":{"type":"array","items":{"type":"object","properties":{"address":{"type":"string","description":"The address of the Jetton master contract"},"name":{"type":"string","description":"The name of the Jetton"},"symbol":{"type":"string","description":"The symbol of the Jetton"},"decimals":{"type":"integer","description":"The number of decimal places for the Jetton"},"totalSupply":{"type":"string","description":"The total supply of the Jetton"},"mintable":{"type":"boolean","description":"Whether new tokens can be minted"},"admin":{"type":"string","description":"The address of the Jetton admin"},"metadata":{"type":"object","description":"Additional metadata of the Jetton"},"contentUri":{"type":"string","description":"The URI of the Jetton's content"}}}}}}}}}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}