{"openapi":"3.0.0","info":{"title":"TON API","version":"3.0.0","description":"API for interacting with The Open Network (TON) blockchain"},"servers":[{"url":"https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v3"}],"paths":{"/estimateFee":{"post":{"summary":"Estimate Fee","description":"Estimates the fee for a transaction on the TON blockchain","operationId":"estimateFee","tags":["Transaction"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"address":{"type":"string","description":"The address of the smart contract","default":"EQBVbC7Hu-g3htYXzst8L5ucV76NMzeBK3URJKebN2Y1k55Q"},"body":{"type":"string","description":"The body of the transaction in base64 format","default":"te6ccgEBBAEAwwABRYgAqthdj3fQbw2sL52W+F83OK99GmZvAlbqIklPNm7MayYMAQGcJRnEjp8cFJEdHYEy0LKHHYzifhXgDjogvM4i1RhNr6JL5bGaLxFWgLvL/9Q5K9CsRfVakAbG1JfXmJjD+54vAimpoxdm1XNnAAAAEwADAgFkQgA0XvoMzOTI+7LhqhMUCzQfZ6f1jWBzDLBT90cgmTz0fBE4gAAAAAAAAAAAAAAAAAEDACoAAAAAdGhpcyBpcyBhIHRlc3QgdHg="},"ignore_chksig":{"type":"boolean","description":"Whether to ignore the signature check","default":false}},"required":["address","body"]},"example":{"address":"EQBVbC7Hu-g3htYXzst8L5ucV76NMzeBK3URJKebN2Y1k55Q","body":"te6ccgEBBAEAwwABRYgAqthdj3fQbw2sL52W+F83OK99GmZvAlbqIklPNm7MayYMAQGcJRnEjp8cFJEdHYEy0LKHHYzifhXgDjogvM4i1RhNr6JL5bGaLxFWgLvL/9Q5K9CsRfVakAbG1JfXmJjD+54vAimpoxdm1XNnAAAAEwADAgFkQgA0XvoMzOTI+7LhqhMUCzQfZ6f1jWBzDLBT90cgmTz0fBE4gAAAAAAAAAAAAAAAAAEDACoAAAAAdGhpcyBpcyBhIHRlc3QgdHg=","ignore_chksig":false}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"source_fees":{"type":"object","properties":{"in_fwd_fee":{"type":"integer","description":"The incoming forward fee"},"storage_fee":{"type":"integer","description":"The storage fee"},"gas_fee":{"type":"integer","description":"The gas fee"},"fwd_fee":{"type":"integer","description":"The forward fee"}}},"destination_fees":{"type":"object","properties":{"in_fwd_fee":{"type":"integer","description":"The incoming forward fee"},"storage_fee":{"type":"integer","description":"The storage fee"},"gas_fee":{"type":"integer","description":"The gas fee"},"fwd_fee":{"type":"integer","description":"The forward fee"}}}}}}}}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}