{"openapi":"3.0.0","info":{"title":"TON API","version":"3.0.0","description":"API for interacting with The Open Network (TON) blockchain"},"servers":[{"url":"https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v3"}],"paths":{"/messages":{"get":{"summary":"Get Messages","description":"Retrieves a list of messages from the TON blockchain","operationId":"getMessages","tags":["Blockchain"],"parameters":[{"name":"limit","in":"query","description":"The maximum number of messages to return","required":false,"schema":{"type":"integer","default":128}},{"name":"offset","in":"query","description":"The number of messages to skip before starting to return results","required":false,"schema":{"type":"integer","default":0}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"messages":{"type":"array","items":{"type":"object","properties":{"hash":{"type":"string","description":"The message hash"},"source":{"type":"string","description":"The source address of the message"},"destination":{"type":"string","description":"The destination address of the message"},"value":{"type":"string","description":"The value transferred in the message"},"fwd_fee":{"type":"string","description":"The forward fee for the message"},"ihr_fee":{"type":"string","description":"The IHR (Instant Hypercube Routing) fee for the message"},"created_lt":{"type":"string","description":"The logical creation time of the message"},"body_hash":{"type":"string","description":"The hash of the message body"}}}}}}}}}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}