{"openapi":"3.0.0","info":{"title":"TON API","version":"3.0.0","description":"API for interacting with The Open Network (TON) blockchain"},"servers":[{"url":"https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v3"}],"paths":{"/blocks":{"get":{"summary":"Get Blocks","description":"Retrieves a list of blocks from the TON blockchain","operationId":"getBlocks","tags":["Blockchain"],"parameters":[{"name":"limit","in":"query","description":"The maximum number of blocks to return","required":false,"schema":{"type":"integer","default":128}},{"name":"offset","in":"query","description":"The number of blocks to skip before starting to return results","required":false,"schema":{"type":"integer","default":0}},{"name":"sort","in":"query","description":"The sorting order of the blocks","required":false,"schema":{"type":"string","enum":["asc","desc"],"default":"desc"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"blocks":{"type":"array","items":{"type":"object","properties":{"seqno":{"type":"integer","description":"The sequence number of the block"},"shard":{"type":"string","description":"The shard identifier of the block"},"workchain":{"type":"integer","description":"The workchain ID of the block"},"fileHash":{"type":"string","description":"The file hash of the block"},"rootHash":{"type":"string","description":"The root hash of the block"},"timestamp":{"type":"integer","description":"The timestamp of the block"}}}}}}}}}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}