{"openapi":"3.0.0","info":{"title":"TON API","version":"3.0.0","description":"API for interacting with The Open Network (TON) blockchain"},"servers":[{"url":"https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v3"}],"paths":{"/masterchainInfo":{"get":{"summary":"Get Masterchain Information","description":"Retrieves information about the current state of the masterchain","operationId":"getMasterchainInfo","tags":["Blockchain"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"last":{"type":"object","properties":{"seqno":{"type":"integer","description":"The sequence number of the last masterchain block"},"shard":{"type":"string","description":"The shard identifier of the last masterchain block"},"workchain":{"type":"integer","description":"The workchain ID of the last masterchain block"},"fileHash":{"type":"string","description":"The file hash of the last masterchain block"},"rootHash":{"type":"string","description":"The root hash of the last masterchain block"}}},"init":{"type":"object","properties":{"fileHash":{"type":"string","description":"The file hash of the initial masterchain block"},"rootHash":{"type":"string","description":"The root hash of the initial masterchain block"}}},"stateRootHash":{"type":"string","description":"The state root hash of the masterchain"},"now":{"type":"integer","description":"The current timestamp"}}}}}}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}