{"openapi":"3.0.0","info":{"title":"TON API","version":"3.0.0","description":"API for interacting with The Open Network (TON) blockchain"},"servers":[{"url":"https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v3"}],"paths":{"/jetton/burns":{"get":{"summary":"Get Jetton Burns","description":"Retrieves a list of Jetton burn events for a specific Jetton address from the TON blockchain","operationId":"getJettonBurns","tags":["Jetton"],"parameters":[{"name":"address","in":"query","description":"The address of the Jetton master contract","required":true,"schema":{"type":"string","default":"EQCvxJy4eG8hyHBFsZ7eePxrRsUQSFE_jpptRAYBmcG_DOGS"}},{"name":"limit","in":"query","description":"The maximum number of burn events to return","required":false,"schema":{"type":"integer","default":128}},{"name":"offset","in":"query","description":"The number of burn events to skip before starting to return results","required":false,"schema":{"type":"integer","default":0}},{"name":"sort","in":"query","description":"The sorting order of the burn events","required":false,"schema":{"type":"string","enum":["asc","desc"],"default":"desc"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"burns":{"type":"array","items":{"type":"object","properties":{"jetton":{"type":"object","properties":{"address":{"type":"string","description":"The address of the Jetton master contract"},"name":{"type":"string","description":"The name of the Jetton"},"symbol":{"type":"string","description":"The symbol of the Jetton"}}},"burner":{"type":"object","properties":{"address":{"type":"string","description":"The address of the account that burned the Jettons"}}},"transaction":{"type":"object","properties":{"hash":{"type":"string","description":"The hash of the transaction"},"time":{"type":"integer","description":"The timestamp of the transaction"}}},"amount":{"type":"string","description":"The amount of Jettons burned"},"comment":{"type":"string","description":"Any comment attached to the burn event"}}}}}}}}}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}