{"openapi":"3.0.0","info":{"title":"TON API","version":"3.0.0","description":"API for interacting with The Open Network (TON) blockchain"},"servers":[{"url":"https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v3"}],"paths":{"/nft/items":{"get":{"summary":"Get NFT Items","description":"Retrieves a list of NFT items from the TON blockchain","operationId":"getNFTItems","tags":["NFT"],"parameters":[{"name":"limit","in":"query","description":"The maximum number of NFT items to return","required":false,"schema":{"type":"integer","default":128}},{"name":"offset","in":"query","description":"The number of NFT items to skip before starting to return results","required":false,"schema":{"type":"integer","default":0}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"address":{"type":"string","description":"The address of the NFT item"},"collection":{"type":"object","properties":{"address":{"type":"string","description":"The address of the collection this item belongs to"},"name":{"type":"string","description":"The name of the collection"}}},"index":{"type":"integer","description":"The index of the NFT item within its collection"},"owner":{"type":"object","properties":{"address":{"type":"string","description":"The address of the current owner of the NFT item"}}},"metadata":{"type":"object","description":"Additional metadata of the NFT item"},"verified":{"type":"boolean","description":"Whether the NFT item is verified"},"content_uri":{"type":"string","description":"The URI of the NFT item's content"},"raw_content_uri":{"type":"string","description":"The raw URI of the NFT item's content"}}}}}}}}}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}