{"openapi":"3.0.0","info":{"title":"Ethereum Validator Attestation Data API","version":"1.0.0"},"servers":[{"url":"https://beacon-nd-422-757-666.p2pify.com/0a9d79d93fb2f4a4b1e04695da2b77a7/eth/v1"}],"paths":{"/validator/attestation_data":{"get":{"summary":"Get attestation data","operationId":"getAttestationData","parameters":[{"name":"slot","in":"query","description":"Slot for which to retrieve attestation data","required":true,"schema":{"type":"integer","format":"int64","default":6244411}},{"name":"committee_index","in":"query","description":"Committee index for which to retrieve attestation data","required":true,"schema":{"type":"integer","format":"int64","default":5}}],"responses":{"200":{"description":"Attestation data successfully retrieved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttestationData"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}}},"components":{"schemas":{"AttestationData":{"type":"object","properties":{"slot":{"type":"integer","format":"int64"},"index":{"type":"integer","format":"int64"},"beacon_block_root":{"type":"string","pattern":"^0x[0-9a-fA-F]+$"},"source_epoch":{"type":"integer","format":"int64"},"source_root":{"type":"string","pattern":"^0x[0-9a-fA-F]+$"},"target_epoch":{"type":"integer","format":"int64"},"target_root":{"type":"string","pattern":"^0x[0-9a-fA-F]+$"}},"required":["slot","index","beacon_block_root","source_epoch","source_root","target_epoch","target_root"]},"Error":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"}},"required":["code","message"]}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}