{"openapi":"3.0.0","info":{"title":"Ethereum Beacon Block Attestations API","version":"1.0.0"},"servers":[{"url":"https://beacon-nd-422-757-666.p2pify.com/0a9d79d93fb2f4a4b1e04695da2b77a7/eth/v1"}],"paths":{"/beacon/blocks/{block_id}/attestations":{"get":{"summary":"Get attestations of the beacon block by block_id","operationId":"getBeaconBlockAttestationsByBlockId","parameters":[{"name":"block_id","in":"path","description":"Block identifier, e.g., 'head', 'genesis', 'finalized', or a specific block root.","required":true,"schema":{"type":"string","default":"head"}}],"responses":{"200":{"description":"Beacon block attestations successfully retrieved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BeaconBlockAttestationsList"}}}},"404":{"description":"Beacon block attestations not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}}},"components":{"schemas":{"BeaconBlockAttestationsList":{"type":"array","items":{"$ref":"#/components/schemas/BeaconBlockAttestationItem"}},"BeaconBlockAttestationItem":{"type":"object","properties":{"aggregation_bits":{"type":"string"},"data":{"$ref":"#/components/schemas/AttestationData"},"signature":{"type":"string"}},"required":["aggregation_bits","data","signature"]},"AttestationData":{"type":"object","properties":{"slot":{"type":"integer","format":"int64"},"index":{"type":"integer","format":"int64"},"beacon_block_root":{"type":"string"},"source":{"$ref":"#/components/schemas/Checkpoint"},"target":{"$ref":"#/components/schemas/Checkpoint"}},"required":["slot","index","beacon_block_root","source","target"]},"Checkpoint":{"type":"object","properties":{"epoch":{"type":"integer","format":"int64"},"root":{"type":"string"}},"required":["epoch","root"]},"Error":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"}},"required":["code","message"]}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}