{"openapi":"3.0.0","info":{"title":"Faucet API - Transaction History","description":"API documentation for retrieving faucet transaction history.","version":"1.0.0"},"servers":[{"url":"https://api.chainstack.com/v1/faucet","description":"Prod server"}],"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}},"security":[{"BearerAuth":[]}],"paths":{"/transactions-history":{"get":{"summary":"Transaction History","description":"Retrieves the transaction history for a specified organization ID.","tags":["History"],"security":[{"BearerAuth":[]}],"responses":{"200":{"description":"Transaction history retrieved successfully.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"protocol":{"type":"string","description":"The protocol used for the transaction."},"network":{"type":"string","description":"The network used for the transaction."},"amount":{"type":"object","properties":{"$numberDecimal":{"type":"string"}},"description":"The amount sent in the transaction."},"address":{"type":"string","description":"The address to which the amount was sent."},"userId":{"type":"string","description":"User ID associated with the transaction."},"organizationId":{"type":"string","description":"Organization ID associated with the transaction."},"transactionHash":{"type":"string","nullable":true,"description":"Transaction hash, nullable if not available."},"timestamp":{"type":"integer","description":"Timestamp of the transaction in milliseconds."}}}}}}},"401":{"description":"Unauthorized access, invalid API key."},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"Error message."}}}}}}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}