{"openapi":"3.0.0","info":{"title":"Ethereum Validator Produce Block API","version":"1.0.0"},"servers":[{"url":"https://beacon-nd-422-757-666.p2pify.com/0a9d79d93fb2f4a4b1e04695da2b77a7/eth/v2"}],"paths":{"/validator/blocks/{slot}":{"get":{"summary":"Produce a new block for the given slot","operationId":"produceBlock","parameters":[{"name":"slot","in":"path","description":"Slot for which to produce a new block","required":true,"schema":{"type":"integer","format":"int64","default":6244478}},{"name":"randao_reveal","in":"query","description":"RANDAO reveal for the block","required":true,"schema":{"type":"string","pattern":"^0x[0-9a-fA-F]+$","default":"0xb73a92a633356ed71c3ff8c6a687d6a7b9a10db930f92f3b41a18e2dfc0c41535c522006ae3db8b1cb6fe7b3a93962f413c127de4eba22cb0b2d0065dc120156012e53038c3e29477342f9fac2b4368c054aa0d18c246c1463da03161f902f8e"}},{"name":"graffiti","in":"query","description":"Graffiti for the block","required":false,"schema":{"type":"string","pattern":"^0x[0-9a-fA-F]+$","example":"0x4c69676874686f7573652f76342e302e322d72632e302d333564386339380000"}}],"responses":{"200":{"description":"Successfully produced a new block","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Block"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}}},"components":{"schemas":{"Block":{"type":"object","properties":{"slot":{"type":"integer","format":"int64"},"parent_root":{"type":"string"},"state_root":{"type":"string"},"body":{"type":"object"}},"required":["slot","parent_root","state_root","body"]},"Error":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"}},"required":["code","message"]}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}