{"openapi":"3.0.0","info":{"title":"Ethereum Validator Sync Committee Contribution API","version":"1.0.0"},"servers":[{"url":"https://beacon-nd-422-757-666.p2pify.com/0a9d79d93fb2f4a4b1e04695da2b77a7/eth/v1"}],"paths":{"/validator/sync_committee_contribution":{"get":{"summary":"Get sync committee contribution for a given slot, subcommittee index, and beacon block root","operationId":"getSyncCommitteeContribution","parameters":[{"name":"slot","in":"query","description":"Slot for which to retrieve the sync committee contribution","required":true,"schema":{"type":"integer","format":"int64","default":6244671}},{"name":"subcommittee_index","in":"query","description":"Subcommittee index for which to retrieve the sync committee contribution","required":true,"schema":{"type":"integer","format":"int64","default":1}},{"name":"beacon_block_root","in":"query","description":"Beacon block root for which to retrieve the sync committee contribution","required":true,"schema":{"type":"string","pattern":"^0x[0-9a-fA-F]+$","default":"0x19708d7b686e2654656690f3262ff3686b810966839117ae8affd0e757b17544"}}],"responses":{"200":{"description":"Sync committee contribution successfully retrieved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyncCommitteeContribution"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}}},"components":{"schemas":{"SyncCommitteeContribution":{"type":"object","properties":{"slot":{"type":"integer","format":"int64"},"beacon_block_root":{"type":"string","pattern":"^0x[0-9a-fA-F]+$"},"subcommittee_index":{"type":"integer","format":"int64"},"aggregation_bits":{"type":"string","pattern":"^0x[0-9a-fA-F]+$"},"signature":{"type":"string","pattern":"^0x[0-9a-fA-F]+$"}},"required":["slot","beacon_block_root","subcommittee_index","aggregation_bits","signature"]},"Error":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"}},"required":["code","message"]}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}