{"openapi":"3.0.0","info":{"title":"JSON-RPC API","version":"1.0.0"},"servers":[{"url":"https://nd-995-911-243.p2pify.com/afb8312f3710a5bc469f4c87cad3a2e4"}],"paths":{"/":{"post":{"summary":"zks_getL2ToL1LogProof | zkSync Era","operationId":"zks_getL2ToL1LogProof","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonRpcRequestForL2ToL1LogProof"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonRpcResponseForL2ToL1LogProof"}}}}}}}},"components":{"schemas":{"JsonRpcRequestForL2ToL1LogProof":{"type":"object","required":["jsonrpc","id","method","params"],"properties":{"jsonrpc":{"type":"string","example":"2.0","default":"2.0"},"id":{"type":"integer","example":1,"default":1},"method":{"type":"string","example":"zks_getL2ToL1LogProof","default":"zks_getL2ToL1LogProof"},"params":{"type":"array","default":["0xf8a7e5649718e84649a4caa93f5e537704a6a0e8769a7dbbe4de967ba14fc748"],"items":{"type":"string","example":"0xf8a7e5649718e84649a4caa93f5e537704a6a0e8769a7dbbe4de967ba14fc748","default":"0xf8a7e5649718e84649a4caa93f5e537704a6a0e8769a7dbbe4de967ba14fc748"}}}},"JsonRpcResponseForL2ToL1LogProof":{"type":"object","required":["jsonrpc","id","result"],"properties":{"jsonrpc":{"type":"string","example":"2.0","default":"2.0"},"id":{"type":"integer","default":1},"result":{"type":"object","properties":{"logProof":{"type":"object","description":"The log proof information.","properties":{"blockNumber":{"type":"integer","description":"The block number."},"logIndex":{"type":"integer","description":"The log index within the block."},"transactionHash":{"type":"string","description":"The transaction hash associated with the log."},"logEntries":{"type":"array","items":{"type":"string","description":"Log entry data."}}}}}}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}