{"openapi":"3.0.0","info":{"title":"JSON-RPC API","version":"1.0.0"},"servers":[{"url":"https://nd-995-911-243.p2pify.com/afb8312f3710a5bc469f4c87cad3a2e4"}],"paths":{"/":{"post":{"summary":"zks_estimateFee example","operationId":"zks_estimateFee","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonRpcRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonRpcResponse"}}}}}}}},"components":{"schemas":{"JsonRpcRequest":{"type":"object","required":["jsonrpc","id","method","params"],"properties":{"jsonrpc":{"type":"string","example":"2.0","default":"2.0"},"id":{"type":"integer","example":2,"default":2},"method":{"type":"string","example":"zks_estimateFee","default":"zks_estimateFee"},"params":{"type":"array","default":[{"from":"0x7AeD074cA56F5050D5A2E512eCc5bf7103937d76","to":"0x6B7f71BB1f5B74fB0Ff82cf4EA20A5F90d43E509","data":"0x"}],"items":{"type":"object","properties":{"from":{"type":"string","example":"0x7AeD074cA56F5050D5A2E512eCc5bf7103937d76","default":"0x7AeD074cA56F5050D5A2E512eCc5bf7103937d76"},"to":{"type":"string","example":"0x6B7f71BB1f5B74fB0Ff82cf4EA20A5F90d43E509","default":"0x6B7f71BB1f5B74fB0Ff82cf4EA20A5F90d43E509"},"data":{"type":"string","example":"0x","default":"0x"}}}}}},"JsonRpcResponse":{"type":"object","required":["jsonrpc","id","result"],"properties":{"jsonrpc":{"type":"string","example":"2.0","default":"2.0"},"id":{"type":"integer","default":2},"result":{"type":"object","additionalProperties":true}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}