{"openapi":"3.0.0","info":{"title":"JSON-RPC API","version":"1.0.0"},"servers":[{"url":"https://nd-995-911-243.p2pify.com/afb8312f3710a5bc469f4c87cad3a2e4"}],"paths":{"/":{"post":{"summary":"zks_getAllAccountBalances | zkSync Era","operationId":"zks_getAllAccountBalances","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonRpcRequestForBalances"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonRpcResponseForBalances"}}}}}}}},"components":{"schemas":{"JsonRpcRequestForBalances":{"type":"object","required":["jsonrpc","id","method","params"],"properties":{"jsonrpc":{"type":"string","example":"2.0","default":"2.0"},"id":{"type":"integer","example":1,"default":1},"method":{"type":"string","example":"zks_getAllAccountBalances","default":"zks_getAllAccountBalances"},"params":{"type":"array","default":["0xB240316e290e976e31f1557b3B312Dd698efac4c"],"items":{"type":"string","example":"0xB240316e290e976e31f1557b3B312Dd698efac4c","default":"0xB240316e290e976e31f1557b3B312Dd698efac4c"}}}},"JsonRpcResponseForBalances":{"type":"object","required":["jsonrpc","id","result"],"properties":{"jsonrpc":{"type":"string","example":"2.0","default":"2.0"},"id":{"type":"integer","default":1},"result":{"type":"object","additionalProperties":{"type":"object","properties":{"balance":{"type":"string"},"symbol":{"type":"string"},"decimals":{"type":"integer"}}}}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}