{"openapi":"3.0.0","info":{"title":"JSON-RPC API","version":"1.0.0"},"servers":[{"url":"https://nd-995-911-243.p2pify.com/afb8312f3710a5bc469f4c87cad3a2e4"}],"paths":{"/":{"post":{"summary":"zks_getBytecodeByHash | zkSync Era","operationId":"zks_getBytecodeByHash","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonRpcRequestForBytecodeByHash"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonRpcResponseForBytecodeByHash"}}}}}}}},"components":{"schemas":{"JsonRpcRequestForBytecodeByHash":{"type":"object","required":["jsonrpc","id","method","params"],"properties":{"jsonrpc":{"type":"string","example":"2.0","default":"2.0"},"id":{"type":"integer","example":1,"default":1},"method":{"type":"string","example":"zks_getBytecodeByHash","default":"zks_getBytecodeByHash"},"params":{"type":"array","default":["0x0100067d861e2f5717a12c3e869cfb657793b86bbb0caa05cc1421f16c5217bc"],"items":{"type":"string","example":"0x0100067d861e2f5717a12c3e869cfb657793b86bbb0caa05cc1421f16c5217bc","default":"0x0100067d861e2f5717a12c3e869cfb657793b86bbb0caa05cc1421f16c5217bc"}}}},"JsonRpcResponseForBytecodeByHash":{"type":"object","required":["jsonrpc","id","result"],"properties":{"jsonrpc":{"type":"string","example":"2.0","default":"2.0"},"id":{"type":"integer","default":1},"result":{"type":"string","description":"The bytecode of the transaction."}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}