{"openapi":"3.0.0","info":{"title":"JSON-RPC API","version":"1.0.0"},"servers":[{"url":"https://nd-995-911-243.p2pify.com/afb8312f3710a5bc469f4c87cad3a2e4"}],"paths":{"/":{"post":{"summary":"zks_getTransactionDetails | zkSync Era","operationId":"zks_getTransactionDetails","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonRpcRequestForTransactionDetails"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonRpcResponseForTransactionDetails"}}}}}}}},"components":{"schemas":{"JsonRpcRequestForTransactionDetails":{"type":"object","required":["jsonrpc","id","method","params"],"properties":{"jsonrpc":{"type":"string","example":"2.0","default":"2.0"},"id":{"type":"integer","example":1,"default":1},"method":{"type":"string","example":"zks_getTransactionDetails","default":"zks_getTransactionDetails"},"params":{"type":"array","default":["0x721ee3e8774620c2bd2add404efbd58563b592be75ad12a96684c24b95dce0d2"],"items":{"type":"string","example":"0x721ee3e8774620c2bd2add404efbd58563b592be75ad12a96684c24b95dce0d2","default":"0x721ee3e8774620c2bd2add404efbd58563b592be75ad12a96684c24b95dce0d2"}}}},"JsonRpcResponseForTransactionDetails":{"type":"object","required":["jsonrpc","id","result"],"properties":{"jsonrpc":{"type":"string","example":"2.0","default":"2.0"},"id":{"type":"integer","default":1},"result":{"type":"object","properties":{"txDetails":{"type":"object","description":"The details of the transaction."}}}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}