{"openapi":"3.0.0","info":{"title":"starknet","version":"1.0.0","contact":{}},"servers":[{"url":"https://starknet-mainnet.core.chainstack.com/365cf697a3ad6d950b4c4a911e2e4f4d"}],"components":{"schemas":{"FELT":{"type":"string","title":"Field element","description":"A field element. represented by at most 63 hex digits","pattern":"^0x(0|[a-fA-F1-9]{1}[a-fA-F0-9]{0,62})$"}}},"paths":{"/":{"post":{"summary":"starknet_call","description":"starknet_call","operationId":"starknetCall","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","default":1},"jsonrpc":{"type":"string","default":"2.0"},"method":{"type":"string","default":"starknet_call"},"params":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"calldata":{"type":"array","items":{"$ref":"#/components/schemas/FELT"},"default":["0x03a20d4f7b4229e7c4863dab158b4d076d7f454b893d90a62011882dc4caca2a"]},"contract_address":{"type":"string","default":"0x049d36570d4e46f48e99674bd3fcc84644ddd6b96f7c741b1562b82f9e004dc7"},"entry_point_selector":{"type":"string","default":"0x2e4263afad30923c891518314c3c95dbe830a16874e8abc5777a9a20b54c76e"}}},{"type":"string","enum":["pending"]}]},"default":[{"calldata":["0x03a20d4f7b4229e7c4863dab158b4d076d7f454b893d90a62011882dc4caca2a"],"contract_address":"0x049d36570d4e46f48e99674bd3fcc84644ddd6b96f7c741b1562b82f9e004dc7","entry_point_selector":"0x2e4263afad30923c891518314c3c95dbe830a16874e8abc5777a9a20b54c76e"},"pending"]}}}}}},"responses":{"200":{"description":"Successful response"}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}