{"openapi":"3.0.0","info":{"title":"Ethereum Beacon Chain API","version":"1.0.0","description":"API for interacting with the Ethereum 2.0 Beacon Chain"},"servers":[{"url":"https://beacon-nd-422-757-666.p2pify.com/0a9d79d93fb2f4a4b1e04695da2b77a7"}],"paths":{"/eth/v1/beacon/blob_sidecars/{blob_sidecar_root}":{"get":{"summary":"Retrieve blob sidecar information by root","operationId":"getBlobSidecarByRoot","tags":["Beacon"],"parameters":[{"name":"blob_sidecar_root","in":"path","required":true,"description":"Root of the blob sidecar to retrieve.","schema":{"type":"string","default":"head"}}],"responses":{"200":{"description":"Successful response with blob sidecar information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlobSidecarInformation"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}}},"components":{"schemas":{"BlobSidecarInformation":{"type":"object","properties":{"data":{"type":"string","format":"byte","description":"Data contained within the blob sidecar."},"slot":{"type":"integer","description":"Slot number of the blob sidecar."},"epoch":{"type":"integer","description":"Epoch number related to the blob sidecar."},"blob_sidecar_root":{"type":"string","format":"byte","description":"Root hash of the blob sidecar."}}},"Error":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}