{"openapi":"3.0.0","info":{"title":"Ethereum Beacon Chain API","version":"1.0.0","description":"API for interacting with the Ethereum 2.0 Beacon Chain"},"servers":[{"url":"https://beacon-nd-422-757-666.p2pify.com/0a9d79d93fb2f4a4b1e04695da2b77a7"}],"paths":{"/eth/v1/beacon/states/{state_id}/validators/{validator_index}":{"get":{"summary":"Get information about a specific validator in a given state","operationId":"getValidatorInformation","tags":["Beacon"],"parameters":[{"name":"state_id","in":"path","required":true,"description":"State identifier which can be a slot number, an epoch number, a block root, or 'genesis', 'head'  (default is 'head').","schema":{"type":"string","default":"head"}},{"name":"validator_index","in":"path","required":true,"description":"Index of the validator (default is '1').","schema":{"type":"integer","default":1}}],"responses":{"200":{"description":"Successful response with validator information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidatorInformation"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}}},"components":{"schemas":{"ValidatorInformation":{"type":"object","properties":{"index":{"type":"integer","description":"Validator index."},"balance":{"type":"integer","description":"Validator's balance."},"status":{"type":"string","description":"Validator status."},"validator":{"type":"object","properties":{"public_key":{"type":"string","format":"byte","description":"Validator public key."},"effective_balance":{"type":"integer","description":"Validator's effective balance."},"slashed":{"type":"boolean","description":"Flag indicating if the validator is slashed."}}}}},"Error":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}