{"openapi":"3.0.0","info":{"title":"TON API","version":"3.0.0","description":"API for interacting with The Open Network (TON) blockchain"},"servers":[{"url":"https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v3"}],"paths":{"/nft/collections":{"get":{"summary":"Get NFT Collections","description":"Retrieves a list of NFT collections from the TON blockchain","operationId":"getNFTCollections","tags":["NFT"],"parameters":[{"name":"limit","in":"query","description":"The maximum number of collections to return","required":false,"schema":{"type":"integer","default":128}},{"name":"offset","in":"query","description":"The number of collections to skip before starting to return results","required":false,"schema":{"type":"integer","default":0}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"collections":{"type":"array","items":{"type":"object","properties":{"address":{"type":"string","description":"The address of the NFT collection"},"name":{"type":"string","description":"The name of the NFT collection"},"description":{"type":"string","description":"The description of the NFT collection"},"metadata":{"type":"object","description":"Additional metadata of the NFT collection"},"owner":{"type":"string","description":"The owner's address of the NFT collection"},"raw_collection_content":{"type":"string","description":"The raw content of the NFT collection"},"next_item_index":{"type":"integer","description":"The index of the next item in the collection"},"icon":{"type":"string","description":"The URL of the collection's icon"}}}}}}}}}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}