{"openapi":"3.0.0","info":{"title":"Fantom Node API","version":"1.0.0","description":"This is an API for interacting with a Fantom node."},"servers":[{"url":"https://fantom-mainnet.core.chainstack.com/4ab982aa70a7baead515ffdb5915df3f"}],"paths":{"/":{"post":{"tags":["upload"],"summary":"eth_getProof","operationId":"getProof","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"method":{"type":"string","default":"eth_getProof"},"params":{"type":"array","items":{"anyOf":[{"type":"string","title":"Account address","description":"The address of the account to query."},{"type":"array","title":"Storage keys","description":"An array of storage keys to query.","items":{"type":"string"}},{"type":"string","title":"Block ID","description":"The block number or tag to use as a reference."}]},"default":["0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82",["0xf6e506a9cbe7546a796b187c40609a170ea8073e047129a3cae1c38e6d7559b7"],"latest"]},"id":{"type":"integer","default":1},"jsonrpc":{"type":"string","default":"2.0"}}}}}},"responses":{"200":{"description":"The account state proof.","content":{"application/json":{"schema":{"type":"object","properties":{"jsonrpc":{"type":"string"},"id":{"type":"integer"},"result":{"type":"object","properties":{"accountProof":{"type":"array","items":{"type":"string"}},"storageProof":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string"},"value":{"type":"string"},"proof":{"type":"array","items":{"type":"string"}}}}}}}}}}}}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}